 <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top"
      style="background: linear-gradient(to right, #1a1919, #100f0f);">
     <div class="container-fluid">
         <a class="navbar-brand" href="#">
             <img src="https://lh5.googleusercontent.com/yzWtzlXIlHfLjcFkr0S7UgmoX9HFoJ6VRszWZyEt-G85Gl5ID_XxoLX6Ji6E223S-EU2UUt2Y89uOwkm0tr8KkLQbM4Su17ln5HVBLaLHfxFIqm4DDpwmzPhfeAg1mja2Xdz7JkCvJqbpoEOT0CX8Cg"
                  alt="Logo" style="width: 40px; height: 40px;">
         </a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
             <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                 <li class="nav-item">
                     <a class="nav-link active" aria-current="page" href="#" style="color: yellow;">Главная</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="{% url 'all' %}" style="color: yellow;">Хэш теги</a>
                 </li>
                 <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="color: yellow;">
                         Basket
                     </a>
                     <ul class="dropdown-menu">
                         <li><a class="dropdown-item" href="{% url 'add_product' %}">Добавить</a></li>
                         <li><a class="dropdown-item" href="{% url 'products_list' %}">Корзина</a></li>
                         <li>
                             <hr class="dropdown-divider">
                         </li>
                     </ul>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link enable" href="#" style="color: yellow;">Регистрация</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link enable" href="#" style="color: yellow;">Другие книги</a>
                 </li>
             </ul>
             <form action="{% url 'search_books' %}" method="GET" class="d-flex" role="search">
                 <input class="form-control me-2" type="search" name="q" placeholder="Поиск" aria-label="Поиск">
                 <button class="btn btn-outline-success" type="submit" style="color: yellow; border-color: yellow;">
                     Поиск
                 </button>
             </form>
         </div>
     </div>
 </nav>