<!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <title>Title</title>
 </head>
 <body>

 <h1>Список пользователей</h1>
 <ol>
    {% for user in object_list %}
        <li>{{ user.username }} - {{ user.position }} - {{ user.salary }} KGS</li>
    {% empty %}
        <li>Нет зарегистрированных пользователей</li>
    {% endfor %}
 </ol>

 <form action="{% url 'users:logout' %}" method="POST">
   {% csrf_token %}
   <button type="submit">Выйти из аккаунта</button>
 </form>

 </body>
 </html>
